OLLAMA_MODEL=granite3.2-vision:2b
OLLAMA_BASE_URL=http://localhost:11434
MAX_CHARS_PER_CHUNK=5000
MAX_REVISIONS=2
OPENROUTER_MODEL=deepseek/deepseek-v3.2
OPENROUTER_API_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
LLM_PROVIDER=openrouter